<header>
    <div class="container">
        <img src="/assets/img/logo_md.png" style="margin-right:20px;float:left;">
        <h2>
            Tandem Collaborative
        </h2>
        <h4>
            Writing Studio...
        </h4>
        <a href="javascript:;" class="userboxanchor" {{action openUp target="TandemApp.author"}}>&gt; {{TandemApp.author.displayName}}</a>
        {{#if TandemApp.author.open}}
            <div class="backdrop" {{action closeUp target="TandemApp.author"}}></div>
            <div class="userbox">
                <img {{bindAttr src="TandemApp.author.avatar_url"}} width="80" height="80">
                <p>
                    <strong>{{TandemApp.author.displayName}}</strong><br>
                    {{#if TandemApp.author.email}}
                        {{TandemApp.author.email}}<br>
                    {{/if}}
                    <a href="/logout">Logout</a>
                </p>
            </div>
        {{/if}}
    </div>
</header>

<div class="container">
<h1>Hello </h1>

{{outlet}}

</div>