<br>
<a href="#/">Book List</a> | {{controller.book.title}} ... {{controller.book.currentChapterName}}
<br><br>


<div id="chapterlist" {{bindAttr class="controller.book.chaptersOpen:chaptersOpen:chaptersClose"}}>
    <form {{action createChapter on="submit"}} style="margin-top:3px;">
        <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 add-book-form">
            <div class="input-group">
                    {{input value=controller.newChapterTitle type="text" class='form-control' placeholder="New Chapter Title"}}
                    <span class="input-group-btn">
                        <button id="addChapter" class='btn btn-default' type='submit'>Create</button>
                    </span>
            </div>
        </div>
        </div>
    </form>


    <div class="scrollingchapters">
        <table cellspacing="0" cellpadding="0" border="0">
        {{#each chapter in controller.book.realChapters}}
            <tr>
                <td><div style="width:245px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                    <a href="javascript:;" {{action editChapter target="chapter"}} {{bindAttr title='chapter.title'}}>
                        {{chapter.title}}
                    </a>
                </div></td>
            </tr>
        {{/each}}
        </table>
    </div>
    <div class="holder">
        <div class="tabbie">
            <div {{action toggleChapter target="controller.book"}}>
                chapterlist
            </div>
        </div>
    </div>
</div>
<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
    {{view Ember.TextArea valueBinding="controller.book.chapterContentNew"}}
    <div class='live-diff pull-left'>
        <h4 class='pull-left' >Recent Edits</h4>
        <a id='save-revision-link' class='pull-right' href='#' {{action saveRevision target="controller.book"}}>Save Revision</a>
        <div class='msg'></div>
        <div class='clearfix'></div>
        <hr>
        <div id='diff'></div>
    </div>
</div>
<div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 sidebar">
    <div class="sidebar-chat">
        <h4>Book Chat</h4>

        <div class="chatMessages">
            {{#each chat in controller.book.chatMessages}}
                {{chat.userName}} > {{chat.message}}<br>
            {{/each}}
        </div>


        <form {{action sendChatMessage target="controller.book" on="submit"}}>
            <div class="input-group">
                {{input value=controller.book.chatMessage type="text" class='form-control' placeholder="Chat message..."}}
                <span class="input-group-btn">
                    <button id="ChatFieldBtn" class='btn btn-default' type='submit'>Send</button>
                </span>
            </div>
        </form>
    </div>
    <div class="sidebar-form">
        <h4>Current Authors</h4>
        <div class="allAuthors">
            <ul>
            {{#each author in controller.book.allAuthors}}
                <li>{{author}}</li>
            {{/each}}
            </ul>
        </div>
        <form {{action addCoAuthor on="submit"}}>
            <div class="input-group">
                {{input value=controller.newCoAuthor type="text" class='form-control' placeholder="New Co-Author"}}
                <span class="input-group-btn">
                    <button id="addChapter" class='btn btn-default' type='submit'>Add</button>
                </span>
            </div>
        </form>
    </div>
</div>


