
<form {{action createBook on="submit"}}>
	<div class="col-md-6 col-sm-6 col-xs-6 add-book-form">
	    <div class="input-group">
		        {{input value=bookName type="text" class='form-control' placeholder="New Book Title"}}
		        <span class="input-group-btn">
		            <button id="addBook" class='btn btn-default' type='submit'>Create</button>
		        </span>
	    </div>
	</div>
</form>






<div class="bookList">
    <h3>Works in Progress:</h3>
    <ul class="align">
		{{#each book in controller.books.content}}
		    {{!-- {{#linkTo 'book' book tagName='div' class='book col-lg-2 col-md-3 col-sm-4 col-xs-6' style=book.background}}
				<p class="title">{{book.displayShortTitle}}</p>
				<p class="author">{{book.owner}}</p>
		    {{/linkTo}} --}}
		    <li>
		    	<figure class='book'>
					<!-- Front -->

					<ul class='hardcover_front'>
						<li>
							<div class="coverDesign blue">
								<span class="ribbon">NEW</span>
								<h1>{{book.displayShortTitle}}</h1>
								<p>{{book.owner}}</p>
							</div>
						</li>
						<li></li>
					</ul>

					<!-- Pages -->

					<ul class='page'>
						<li></li>
						<li>
							{{#linkTo 'book' book class='btn'}}
								Edit
							{{/linkTo}}
							<a class="btn" href="#">Delete</a>
						</li>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<!-- Back -->

					<ul class='hardcover_back'>
						<li></li>
						<li></li>
					</ul>
					<ul class='book_spine'>
						<li></li>
						<li></li>
					</ul>
				</figure>
			</li>
					
		{{/each}}
	</ul>
</div>
